@media screen and (min-width:992px) {
    .bigBook-text {
        width: 41vw;
        height: 41vw;
        margin: 0;
        padding: 5px;
        background-color: white;
        position: relative;
    }
}
@media screen and (min-width:564px) and (max-width:992px) {
    .bigBook-text {
        width: 45vw;
        height: 45vw;
        margin: 0;
        padding: 5px;
        background-color: white; 
        position: relative;
    }
}

@media screen and (max-width:564px) {
    .bigBook-text {
        width: 90vw;
        height: 45vh;
        margin: 0 auto;
        padding: 5px;
        background-color: white;
        position: relative;
    }
}