.book {
    margin: 2px auto;
    padding: 5px 2px 2px 2px;
    width: 280px;
    height: 440px;
    position: relative;
}

.book:after {
    content: "";
    width: 280px;
    height: 440px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.7;
    z-index: -1;
}

.book-img {
    margin: 0 0 0 60px;
}

.book-p {
    margin: 0 0 0 30px;
    font-size: 12px;
    color: black;
}

.book-h4 {
    margin: 0 0 0 30px;
    color: black;
}